/* 
* @Author: Marte
* @Date:   2017-09-09 02:40:28
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-09 17:34:09
*/
.fcolor
{
    color: #ff6000;
}
.cart-logo
{
    width: 127px;
    height: 60px;
}
.page-name
{
    font-size: 22px;
    line-height: 60px;
}
.cart-search
{
    line-height: 28px;

    width: 325px;
    height: 28px;

    border: 2px solid #459d36;
}
.sch_list
{
    position: absolute;

    width: 338px;
    margin: 32px 0 0;

    border: 2px #459d36 solid;
    background: #f4f4ee;
}
.cart-search .search-text
{
    width: 260px;
    height: 28px;
    padding: 0 5px;

    border: none;
    outline: none;
}
.cart-search a
{
    display: block;

    width: 50px;

    background: #459d36;
}

.select-menu
{
    margin-top: 30px;
}
#cart-menu
{
    position: relative;

    border-bottom: 2px #ddd solid;
}
.cart-menu
{
    padding-bottom: 10px;
}
.cart-menu li
{
    font-size: 16px;

    position: relative;

    float: left;

    padding: 0 30px;

    cursor: pointer;

    color: #3c3c3c;
    border-right: 1px solid #e8e8e8;
}
.cart-menu li:hover,
.cart-menu li.current
{
    color: #f60;
}
#cart-menu .nav-currentt
{
    position: absolute;
    bottom: -2px;

    height: 6px;

    border-bottom: 2px solid #ff6000;
}
#cart-menu .nav-currentt .arrow
{
    position: absolute;
    bottom: 1px;
    left: 0;

    width: 100%;
}
#cart-menu .nav-currentt i
{
    font-size: 0;
    line-height: 0;

    border-width: 5px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #ff6000 transparent;
}
.cart-table span
{
    padding: 3px 6px 4px 23px;

    border-radius: 3px;
}
.epetfh
{
    background: url(./../img/cart_img/fh-ico.png) no-repeat 0 -55px #6acd34;
}
.cart-tc
{
    position: absolute;
    z-index: 2;
    top: 24px;
    left: -75px;

    display: none;

    width: 253px;
    padding: 15px 10px;

    border: 1px solid #e5e2e8;
    box-shadow: 0 1px 8px #e6e6e6;
}
.cart-tc em
{
    top: -16px;
    left: 73px;

    border-style: dotted solid solid solid;
    border-color: transparent transparent #ccc transparent;
}
.cart-tc i
{
    top: -15px;
    left: 73px;

    border-style: dotted solid solid solid;
    border-color: transparent transparent #fff transparent;
}
.cart-tc em,
.cart-tc i
{
    font-size: 0;
    line-height: 0;

    position: absolute;

    border-width: 8px;
}
.cart-order
{
    border: 1px solid #ccc;
}
.cart-order td
{
    padding: 10px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fcfcfc;
}
.cart-order .por-img
{
    width: 87px;
    height: 87px;

    border: 1px solid #e8e8e8;
}
.cart-order .por-img a
{
    display: table-cell;

    width: 87px;
    height: 87px;

    vertical-align: middle;
}
.cart-order .por-intro {
    width: 310px;
}
.cart-order td {
    padding: 10px;
    background: #fcfcfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.buynum-wrap {
    background: #fff;
    border: 1px solid #cacbcb;
    display: inline-block;
}
.buynum-wrap span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
}
.buynum-wrap .text {
    padding: 0;
    margin: 0 2px;
    border: 0;
    border-right: 1px solid #cacbcb;
    border-left: 1px solid #cacbcb;
    width: 43px;
}
.mtneg10 {
    margin-top: -10px;
}
.balance {
    height: 62px;
    line-height: 62px;
    background: #f5f5f5;
}
.cart-price strong {
    color: #e61212;
}
.bggreen {
    background: #459d36;
}
.go-balance {
    width: 213px;
    display: inline-block;
    background: #b1b1b1;
    border-radius: 5px;
}
.go-buy {
    background: #f5f5f5;
    border: 1px solid #b1b1b1;
    padding: 3px 10px;
    border-radius: 3px;
}