/* 
* @Author: Marte
* @Date:   2017-08-31 11:20:59
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-02 09:52:43
*/
img{ vertical-align: middle;}
.w1100{ width: 1100px;}
.inblock{display: inline-block;}
.textright{text-align: right;}
.abs{position: absolute;}
.c333{ color: #333;}
input{outline: none;}
/*Register*/

.Registertopmain{ border-bottom: #DDDDDD solid 1px;}
.Registertop{ padding: 30px 0;}
.Logon{ color: #427fd2;}
.Logonfr{ margin: 13px 5px 0 0;}
.Registercontent{padding-top: 55px;}
.Registertext{ width: 516px;margin-left: 228px;}
.Registertext span{ width: 96px;}
.Registerinput input{ border: #ddd solid 1px; height: 52px; border-radius: 5px; width: 413px; color: #999; text-indent: 16px; font-size: 14px;}
.Yanzhengma input{ width: 203px;margin-right: 5px; vertical-align: middle;}
.Registeryanzheng{ width: 200px;border: #ddd solid 1px; border-radius: 5px; height: 52px; line-height: 52px; vertical-align: middle;}
.Registeryanzheng a{ width: 88px; border-radius: 0 10px 10px 0; border-left: #ddd solid 1px;}
.Duanxinyanzhengma input{ width: 253px;}
.Duanxinyanzhengma .Registeryanzheng{ width: 149px; border: #33cb98 solid 1px;}
.Duanxinyanzhengma .Registeryanzheng:hover{ background: #33cb98; color: #fff; cursor: pointer;}
.Pwdqiangdu{ padding-left: 100px;}
.Pwdqiangdu span{ width: 80px; height: 20px; background: #eee; margin-right: 2px; line-height: 20px; color: #999;}
.Pwdqiangdu .defaultpwd{ background: #fc9720; color: #fff;}
.Pwdqiangdu .Xieyi a{ color: #427fd2;}
.Pwdqiangdu .Xieyi{ color: #333; background: none; vertical-align: middle;}
.Pwdqiangdu input[type="checkbox"]{ vertical-align: middle;}
.Nowregister{ border-radius: 5px; background: #33cb98; width: 413px; height: 52px; line-height: 52px;  margin: 15px 0 50px 100px;}
.Otherregister{ border-radius: 5px; background: #ededed; width: 413px; height: 52px; line-height: 52px;  margin: 15px 0 50px 100px;}
.Otherregister:hover{color:white;}
.Registerfooter{ width: 820px; padding: 70px 0;}
.Registerfooter p{ margin-top: 5px;}
.Registerinput  .phonenumbererror{ border: #ff6f4a solid 1px; color: #ff6f4a;}
.Registererror{font-size: 14px; left: 520px; top: 0; width: 100px; padding:0 10px; height: 54px; line-height: 54px; background: #fff3d9; color: #ff6f4a;}
.Registererror a{ color: #427fd2;}
.Registerok{right: -30px; top: 15px;}
.silver{background: #ededed;}





/*Login*/
.Loginico{ background: url(../images/ico.png) no-repeat;}
.Loginlink{ margin-right: 24px;}
.Loginlink a{ padding: 0 5px;}
.Loginpmain{height: 628px;}   
.logbg1{background: url(../images/logbg1.jpg) no-repeat center; }
.logbg2{background: url(../images/logbg2.jpg) no-repeat center; }
.logbg3{background: url(../images/logbg3.jpg) no-repeat center; }  
.logbg4{background: url(../images/logbg4.jpg) no-repeat center; }
.logbg5{background: url(../images/logbg5.png) no-repeat center; }
.logbg7{background: url(../images/logbg7.jpg) no-repeat center; }
.logbg8{background: url(../images/logbg8.jpg) no-repeat center; }
.Logindiv105{ width: 340px; padding: 0 36px 30px; background: #fff; top:105px; right: 5px;}
.Logindiv70{ width: 296px; padding: 0 36px 30px; background: #fff; top:70px; right: 164px;}
.Logindiv12{ width: 340px; padding: 0 36px 30px; background: #fff; top:15px; right: 5px;}
.inputheight330{ height:330px;}
.inputheight220{ height:220px;}
.Loginbg{ left: 0; top: 0; right: 0;height: 628px;}
.Longintab span{ height: 67px; line-height: 80px; width: 50%; border-bottom: #ddd solid 1px;}
.Longintab span:hover{ cursor: pointer;}
.Longintab .Logindefalut{ color: #000; border-bottom: #33cb98 solid 1px;}
.Loginuser{ border: #ddd solid 1px; height: 45px; line-height: 45px; margin: 20px 0 0 0; padding: 0 0 0 15px;}
.Uderico{ width: 23px; height: 19px; background-position:  0 0; vertical-align: middle;}
.Userinput{ height: 45px; line-height: 45px;width:244px;border: none; text-indent: 2px;}
.Pwdico{ background-position: 0 -28px;}
.phoneico{ background: url(../images/login_ico.png) no-repeat; background-position: 0px -37px;}
.varifyico{ background: url(../images/login_ico.png) no-repeat; background-position: 0px -68px;}
.codeico{ background: url(../images/login_ico.png) no-repeat; background-position: 0px -11px;}
.Yanzheng{ height: 177px;}
.Rrefrenico{ background-position: 0 -0px;}
.Refren{ color: #427fd2;}
.Yanzhegnmaimg{ width: 100%; padding: 2px 8px 0;}
.Yanzhegnmaimg ul li{ display: block; float: left; margin:0 10px 5px 0;}
.Yanzhegnmaimg ul li:nth-child(4n){ margin-right: 0;}
.Yanzhegnmaimgnormal{ border: #fff solid 2px; width: 70px; height: 70px;}
.Yanzhegnmaimg ul li img:hover{ border: #33cb98  solid 2px;cursor: pointer;}
.YanzhegnmaimgCh{border: #33cb98  solid 2px;width: 70px; height: 70px;}
.Logintext span,.Logintext input{ vertical-align: middle;}
.Loginbtn{ background: #33cb98; width: 100%; height: 50px; line-height: 50px; border-radius: 5px; margin: 20px 0 15px;}
.Loginbtn:hover{color:white;}
.Nowregister:hover{background: #2eb688;color:white;}
.Qqico{ background-position:  0 -86px;}
.Zhifuico{ background-position:  0 -170px;}
.Huofuuico{ background-position:  0 -116px;}
.Weixinico{ background-position:  0 -144px;}
.Heuzouicolist a{ margin-right: 10px;}
/*杩欏彞璇濆彉鎴恉isplay:block   灏辨樉绀哄埛鏂伴獙璇佺爜鍥剧墖*/
.Yanzheng{ display: none;}

.varify{width: 178px;float: left;}
.logphonecode{width: 178px;float: left}
.varifyimg{margin-top:20px;width: 100px;padding: 0px; float: right;}
.phonecodebtn{padding:0px;width: 98px; float: right;cursor: pointer;text-align: center;border-radius: 5px;border: 1px solid #33cb98;}
.phonecodebtn:hover{background:#33cb98; color:white;}


.Reinput input{ border-radius: initial; width: 339px;}
.Yanzhengmao input{ width: 161px; margin-right: 11px;}
.Reyanzheng{ border-radius: initial;width: 161px;}
.Reyanzheng a{ width: 63px;}
.ReYanzhengma input{ width: 211px;}
.Duanxinyanzhengma .Registeryz{ width: 111px; border-radius: 5px;}
.Nowregisterbtn{width: 340px;cursor: pointer;}
.ReLogindiv{ border: #ddd solid 1px; }
.yihouzhanghao{  color: #333; padding-top: 35px;}
.Retititle{ height: 100px; line-height: 100px; padding-left: 10px;}

.other_regMsg{background:#fff3d9;padding:0 10px;left:450px;top:0px;width: 150px;line-height:54px;font-size: 14px;color:#ff6f4a; }
.other_regImg{top:15px;left:450px;display: block;}

.sendcode2{border: 1px solid #33cb98;position: absolute;height:39px;width:90px;text-align: center;line-height: 40px;font-size: 14px;}
.sendcode2:hover{background: #33cb98;color:white;}
.Duanxinyanzhengma .no-yanzhen{border:0px;background: #eee}

.silver{background: #ededed;}
.green{background:#2eb688; }
/*鏂板鐧诲綍椤靛彸渚т簩缁寸爜鏍�*/
.qrCodeBox{display:block; width:163px;height:100%;background:#fff;top:0px;right:-164px;border-left:1px solid #e5e5e5;}
.qrCodeImg{display:block;width:100px;margin:125px auto 0;}
.qrCodeBox p{width:106px;margin:auto;font-size:12px;text-align: center;}
.qrCodeBox .newer{color:#f03e3e;line-height:18px;margin-top:10px;}
.qrCodeBox .download{color:#666;line-height:16px;letter-spacing:2.8px;}
