/* 
* @Author: Marte
* @Date:   2017-09-07 09:11:25
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-09 17:31:40
*/
*{
    margin: 0;
    padding: 0;
    word-wrap:break-word;
}
img{
    border:0;
}
label {
    cursor: default;
}
b, h1, h2, h3 {
    font-weight: 400;
}
ol, ul ,li{list-style: none;} 
div{display:block;}
a{text-decoration:none;color:#444;}
i, em {
    font-style: normal;
}
img,a img{border:0;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, i, b {
    margin: 0;
    padding: 0;
    font: 12px 'Microsoft Yahei',Tahoma,Simsun;
}
.header_topri li i, .weibo a, .rss_btn, .cartbtn, .fuwu ul li span, .paim_box, .hot_name i, .footer p a, .lis_plbox, .close, .epetbrand, .close-code, .zt-list1-1 li a:hover, .zt-list1-1 li.this a, .phonecode, .saving {
    background-image: url(./../img/index_img/bg.png);
    background-repeat: no-repeat;
}
.topgz_act, .myec_tc a, .o-more b {
    background-image: url(./../img/index_img/bg2.png);
    background-repeat: no-repeat;
}
.paixufl span.nobg {
    background: 0 0;
}
.paixufl span {
    height: 53px;
    border-right: 1px solid #ddd;
    display: block;
    float: left;
    padding: 0 23px 0 18px;
    line-height: 53px;
    cursor: pointer;
    background: url(./../img/dog_list_img/paixu-ico.png) no-repeat;
}
.paixufl span.pxpricedown:hover, .paixufl span.pxpricedown.current {
    background: url(./../img/dog_list_img/paixu-ico.png) no-repeat -30px -230px #53aa5b;
}
a.btn, a.btn span, .sbtn, .subbtn, .subbtn span, .sbtn span, .smbtn, .smbtn span, a.ahov, a.ahov span, .filter_box td a:hover, .filter_box td a:hover span {background-image: url(./../img/dog_list_img/newbtn.png);background-repeat: no-repeat;}
.btn, .sbtn, .smbtn, .subbtn {line-height: 28px;display: inline-block;background-position: right 0;padding-right: 10px;height: 28px;cursor: pointer;vertical-align: middle;}
a:link,a:visited{outline:0;}
.nav {background: #fff;padding-top: 10px;border-bottom: #357e34 solid 2px;}
.ftleft {text-align: left;}
.box {height: 100%;border: 1px solid #DDD;background-color: #FFF;overflow: hidden;}
.citys {width: 370px;display: inline-block;border: 1px solid #ddd;padding: 5px 5px 15px;position: relative;}
.place-div .place-header {width: 100%;height: 25px;display: inline-block;border-bottom: 1px solid #ddd;padding: 0;margin: 0;}
.place-div .place-header li {background: #f6f6f6;border-right: 1px solid #ddd;border-left: 1px solid #ddd;border-top: 1px solid #ddd;display: inline-block;line-height: 24px;font-size: 12px;color: #888;width: 70px;text-align: center;cursor: pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.bold {font-weight: 700;}
.borcol {border: 1px solid #ddd;}
.border {border: 1px solid #e7e7e7;}
.db {display: block;}
.fl{float:left;}
.fr{float:right;}
.ftc{text-align:center;}
.ft12{font-size:12px;}
.ft13{font-size:13px;}
.ft14{font-size:14px;}
.ft15{font-size:15px;}
.ft16{font-size:16px;}
.ft18{font-size:18px;}
.ft20{font-size:20px;}
.ft24{font-size:24px;}
.ft26{font-size:26px;}
.ft30{font-size:30px;}
.c93c {color: #e3393c;}
.c300 {color: #78b300;}
.c333{color:#333;}
.c444{color:#444;}
.ce54649 {color: #e54649;}
.c78b300 {color: #78b300;}
.c89{color:#898989;}
.cfff {color:#fff;}
.c999{color:#999;}
.c666{color:#666;}
.clearfix{}
.clear{clear:both;}
.ct{margin:0 auto;}
.cf60{color:#f60;}
.pad10{padding:10px;}
.pad20{padding:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pb10 {padding-bottom: 10px;}
.pl10 {padding-left: 10px;}
.pr35{padding-right:35px;}
.pr70{padding-right:70px;}
.pr100{padding-right:100px;}
.ml{margin-left:10px;}
.mt5 {margin-top: 5px;}
.mt, .mtop10 {margin-top: 10px;}
.mb{margin-bottom:10px;}
.mt15{margin-top:15px;}
.mb20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.ml25 {margin-left: 25px;}
.ml5 {margin-left: 5px;}
.mr5 {margin-right: 5px;}
.mr{margin-right:10px;}
.mr15{margin-right:15px;}
.ml20 {margin-left: 20px;}
.mt20,.mtop20{margin-top:20px;}
.mt30{margin-top:30px;}
.textR {text-align: right;}
.through {text-decoration: line-through;}
.price {font-weight: 700;color: #F60;}
.w-max{width:1200px;}
.w-min {width: 200px;}
.w-mid {width: 980px;}
.rela,.rel{position:relative;}
.abs{position:absolute;}
.pdl40{padding-left:40px;}
.hide,.shide{display:none;}
.place-hide {margin-top: -2px;position: absolute;z-index: 20000;top: 33px;left: 0;background: transparent;line-height: 15px;min-height: 270px;}
.clearfix::after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.overflow {overflow: hidden;_zoom: 1;}
.bgwhite, .tancbox, .probox, .header, .catgr_ej, .zhis {background: #fff;}
.cloud-zoom-wrap {top: 0px;z-index: 120;position: relative;}
/*headertop*/
.place-send{margin-top:7px;}
.headerTop{height:28px;border-bottom:1px solid #ddd;background:#f5f5f5;position:relative;z-index:1002;}
.headerTop li,.headerTop p{line-height:25px;color:#444;}
.header_tl p{padding:0 5px;float:left;line-height:28px;}

.epet-index-brand{background:url(./../img/index_img/epetbrand.png) no-repeat;background-position:0 8px;display:inline-block;width:75px;height:29px;line-height:29px;text-indent:16px;}
.epetbrand:link,.epetbrand:visited{color:#666;}
.epetbrand{display:inline-block;width:95px;height:21px;line-height:20px;text-indent:28px;background-position:0 -429px;margin-top:4px;}
.main-place-div{height:28px;}

.cred{color:red;}
.header_topri{width:700px;padding-top:1px;}
.header_topri li{display:inline;float:right;padding:0 5px;height:26px;position:relative;z-index:120;border:1px solid #f5f5f5;border-bottom:0;}
.header_topri li i{width:13px;height:13px;background-position:-312px -46px;background-repeat:no-repeat;margin-top:6px;margin-right:5px;float:left;}
.header_topri li img{margin-top:2px;}
.header_topri li.mobileApp i{background-position: -334px -46px;}
.header_topri li.mobileApp:hover img{display:block;}
.header_topri li#cart-t i{background-position:-291px -46px;width:14px;height:14px;}
.header_topri li em{color:red;}

.dropmn .topgz i{background-position:-353px -46px;width:15px;margin-right:4px;}
.topgz{position:relative;padding-right:14px;cursor:pointer;display:block;}
.topgz b {display: block;width: 0;height: 0;border: transparent solid 4px;border-top: #717171 solid 4px;position: absolute;right: 0;top: 10px;overflow: hidden;}

.myec_tc{border: 1px solid #ddd;border-top: 0;position: absolute;left: -1px;top: 26px;float: left;padding: 5px 10px;display: none;background-color: #FFF;}
.myec_tc a {line-height: 14px;padding: 0 10px;width: 60px;margin-bottom: 10px;background-position: 0 -260px;display: block;}

/*head*/
.logo{height:94px;width:268px;}
.logo a.lo {display: inline-block;width: 268px;height: 94px;background: url(./../img/index_img/epet-logo.png) no-repeat 0 -12px;margin-top: 7px;}
.search{margin:23px 0 0 33px;}
.search input {border: #459d36 solid 2px;background: 0 0;padding: 0 5px 0 15px;width: 382px;height: 30px;outline: 0;line-height: 30px;font-size: 14px;float: left;
}
.search button {border: 0;width: 73px;height: 34px;vertical-align: top;cursor: pointer;background-color: #459d36;color: #FFF;font-size: 14px;}
.sch_list {position: absolute;border: 2px #459d36 solid;width: 338px;background: #F4F4EE;margin: 32px 0 0;
}

.keywords {margin: 10px 0;width: 498px;height: 17px;overflow: hidden;}
.keywords a, .keywords span, .keywords label {float: left;display: inline;white-space: nowrap;color: #999;}
.keywords a.cred {color: red;}
.keywords span {color: #999;margin: 0 10px;}

.phonecode {background-position: 0 -521px;height: 22px;width: 144px;margin: 30px 0 0 40px;}
.catsha-tell {font-size: 14px;font-weight: 700;padding-top: 25px;width: 220px;margin: 30px 0 0 40px;}

.go-buy {margin: 23px 0 0;width: 130px;height: 39px;text-align: center;text-indent: 2em;background: url(./../img/index_img/shopping-cart.gif) no-repeat;}
.go-buy a {line-height: 39px;}
.go-buy em {display: inline-block;vertical-align: middle;margin-top: -4px;color: #f40;text-indent: 0;margin-left: 2px;}

/*nav*/
.nav {background: #fff;padding-top: 10px;border-bottom: #357e34 solid 2px;}
.navBox {position: relative;}
.mchov {position: relative;z-index: 1001;}
.maincates {float: left;width: 228px;}
.maincates-title {height: 34px;line-height: 32px;color: #FFF;font-size: 16px;text-align: center;}
.maincates-title span {float: left;width: 112px;height: 32px;text-align: center;border: 1px solid #e1e1e1;color: #666;cursor: pointer;}
.maincates-title span.epet-type {position: relative;}
.maincates-title .cate1 {width: 16px;height: 13px;background-position: -17px -1257px;}

.maincates-title b {display: inline-block;vertical-align: middle;margin-top: -2px;background: url(./../img/index_img/bg2.png);margin-left: 5px;}
.maincates-title .cate2 {width: 13px;height: 7px;background-position: -17px -1276px;}
.maincates-title .hov .cate2{background-position: 0 -1276px;}

.menus li {float: left;display: inline;z-index: 102;position: relative;}
.menus a.mns, .menus a.mns:visited {float: left;display: inline;line-height: 34px;font-size: 16px;color: #000;font-weight: 700;padding: 0 25px;text-decoration: none;outline: 0;height: 34px;}
.menus a.mns b {display: inline-block;width: 13px;height: 17px;background: url(./../img/index_img/bg2.png) -35px -1280px;vertical-align: middle;margin-top: -2px;margin-right: 6px;}

/*图标旋转*/
.menus a.mns:hover b{
    -webkit-transition:-webkit-transform .2s ease-in;
    -moz-transition:-moz-transform .2s ease-in;
    -o-transition:-o-transform .2s ease-in;
    transition:transform .2s ease-in;
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

/*rtbar*/
.rtico, .newdot, .menus li.dropmn a.mns, .rttop, .rtbot {background-image: url(./../img/index_img/bar_new.png);}
#rtbar {position: fixed;right: -35px;top: 130px;width: 35px;z-index: 9005;z-index: inherit\9;opacity: 0;filter: alpha(opacity=0);height: 100%;background-color: #444;}
.rtcont {
    position: relative;
    height: 100%;
}
.rtcont-up {
    padding-top: 10px;
    position: relative;
}
.rtcont li.rtl {
    position: relative;
}
.bagBox {
    background: #fff;
    width: 292px;
    position: absolute;
    right: 35px;
    top: 0;
    padding: 0 10px 10px 21px;
    border: 1px solid #ccc;
}
.rtcont a.rt-my {
    background-position: 0 -235px;
    margin: 40px 0;
}
.rtcont li.scart {
    margin-bottom: 15px;
}
.rtcont li.rtl {
    position: relative;
}
.newdot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-position: -6px -600px;
    top: -3px;
    right: 2px;
    display: none;
}
.rtcont li.rtl label {
    display: none;
    right: 53px;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
}
.scart a.rtico {
    width: auto;
    height: auto;
    background-image: none;
    font-size: 12px;
    padding: 5px 0 10px;
    margin: 0;
}
.scart a.rtico .rtico {
    margin: 0;
}
.rtcont a .rt-cart {
    background-position: 0 -270px;
}
.scart a.rtico .rt-cart-num {
    width: 19px;
    text-align: center;
    margin: 0 auto;
    color: #a6a6a6;
}
.scart a.rtico .rt-cart-num span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #a6a6a6;
    color: #444;
}
.my-consoult {
    width: 176px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-right: 0;
    position: absolute;
    top: 0;
    right: 35px;
    display: none;
}
.sconsulted a.rtico {
    width: auto;
    height: auto;
    background-image: none;
    font-size: 12px;
    padding: 5px 0 10px;
    margin: 0 0 15px;
}
.sconsulted a.rtico .rtico {
    margin: 0;
}
.rtcont a .rt-consulted {
    background-position: 2px -617px;
}
.sconsulted a.rtico .rt-consulted-qus {
    width: 19px;
    text-align: center;
    margin: 0 auto;
    color: #a6a6a6;
}
.rtcont a.rt-order {
    background-position: 0 -305px;
}
.nologin-order {
    position: absolute;
    top: 0;
    right: 35px;
    background: #fff;
    width: 325px;
    height: 128px;
    line-height: 128px;
    border: 1px solid #ccc;
    display: none;
}
.rtico {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 0 15px;
}
.rtcont a.rt-view {
    background-position: -1px -693px;
}

.rtcont .rtcont-dn {position: absolute;bottom: 20px;}
.rtcont a.rt-weixin {background-position: 0 -720px;cursor: pointer;margin-bottom: 0;}
.rtcont a.rt-weibo {background-position: 0 -753px;}
.rtcont li.rtl label {display: none;right: 53px;opacity: 0;filter: alpha(opacity=0);}
.rtcont a.rt-top {background-position: 0 -521px;margin-bottom: 0;visibility: hidden;}

/*底部*/
.footer-content .footer-wrapper {width: 1200px;margin: 0 auto;padding-top: 25px;}
.footer-content {background:#f5f5f5;}
.footer-content .footer-top {border-bottom:1px solid #e5e5e5;height:100px;}
.footer-content .footer-imgs ul {width:1200px;margin:0 auto;padding:19px 0;}
.footer-content .footer-imgs ul li {width:200px;}
.footer-content .footer-imgs ul li a {display:block;width:128px;height:62px;padding-left:72px;line-height:62px;color:#444;font-weight:bold;transition:all .8s ease;-webkit-transition:all .8s ease;-moz-transition:all .8s ease;-ms-transition:all .8s ease;}
.footer-content .footer-imgs ul li a:hover {color:#ed4044;transform:translateY(-5px);-webkit-translateY(-5px);-moz-translateY(-5px);-ms-translateY(-5px);}
.footer-content .footer-imgs ul li .zp {background:url(./../img/index_img/logo.png) 0 0 no-repeat;}
.footer-content .footer-imgs ul li .hh {background:url(./../img/index_img/logo.png) 0 -82px no-repeat;}
.footer-content .footer-imgs ul li .ck {background:url(./../img/index_img/logo.png) 0 -162px no-repeat;}
.footer-content .footer-imgs ul li .ps {background:url(./../img/index_img/logo.png) 0 -242px no-repeat;}
.footer-content .footer-imgs ul li .bs {background:url(./../img/index_img/logo.png) 0 -322px no-repeat;}
.footer-content .footer-imgs ul li .cj {background:url(./../img/index_img/logo.png) 0 -402px no-repeat;}
.footer-content .footer-wrapper {width:1200px;margin:0 auto;padding-top:25px;}
.footer-content .footer-wrapper .info {padding-bottom:25px;border-bottom:1px solid #e5e5e5;}
.footer-content .footer-wrapper .footer-phone .footer-number {margin-left:30px;}
.footer-content .footer-wrapper .footer-phone .footer-number p {margin-top:15px;}
.footer-content .footer-wrapper .pay-style {margin-left:40px;}
.footer-content .footer-wrapper .pay-style,.footer-content .footer-wrapper .peisong-style,.footer-content .footer-wrapper .shopping-guide {margin-right:85px;}
.footer-content .footer-wrapper a:hover {color:#ed4044;text-decoration: underline;}
.footer-content .footer-wrapper .about-us {margin-right:85px;}
.footer-content .footer-wrapper .app-code {margin-right:36px;}
.footer-content .footer-wrapper .app-code,.footer-content .footer-wrapper .wx-code {margin-top:-5px;}
.footer-content .footer-wrapper .app-code img,.footer-content .footer-wrapper .wx-code img {margin-top:10px;}
.footer-content .footer-wrapper .flink {padding-top:20px;}
.footer-content .footer-wrapper .flink .fwrapper {width:1150px;height:20px;}
.footer-content .footer-wrapper .flink a {display:inline-block;margin:0 15px 10px 0;}
.footer-content .footer-wrapper .flink a:hover {color:#ed4044;text-decoration:underline;}
.footer-content .footer-wrapper .flink .click-arrow {top:18px;right:5px;width:30px;}
.footer-content .footer-wrapper .flink .footer-arrow {display:inline-block;width:6px;height:6px;border-right:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0;}
.footer-content .footer-wrapper .flink .footer-arrow-up {transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.footer-content .footer-wrapper .flink .footer-arrow-down {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.footer-content .footer-wrapper .support {margin-top:20px;}
.footer-content .footer-wrapper .support a,.footer-content .footer-wrapper .support span {display:inline-block;margin-right:3px;}
.footer-content .footer-wrapper .footer-copy {padding:20px 0 40px;color:#000;}
.footer-content .footer-wrapper .footer-copy p {color:#000;}

/*商品列表*/
.lis_pl {position: relative;z-index: 100;}
.lis_plr {width: 300px;}
.lis_pll, .lis_plr {line-height: 29px;}
.paixufl {height: 53px;}
.lis_plr a {padding: 0 10px;border: 1px solid #ddd;float: right;background: #eee;margin-left: 10px;}
.lis_box {width: 988px;}
.lis_box {position: relative;z-index: 99;}
li.gdlis, .list_box-li {position: relative;}
.place-show .place-str {border: 1px solid #ddd;padding: 5px 15px 5px 5px;line-height: 20px;width: auto;cursor: pointer;}
li.gdlis, .list_box-li {width: 235px;height: 405px;display: inline;float: left;border: 1px solid #e6e6e6;line-height: 18px;margin: 5px 10px 10px 0;overflow: hidden;background-color: #FFF;}
li.gdlis .gimg, .list_box-li .gimg {width: 200px;height: 200px;display: block;margin: auto;}
.fmgoods-main {margin-top: 10px;height: 35px;overflow: hidden;}
.gimg-srl {width: 152px;height: 34px;overflow: hidden;position: relative;}
.gimgsrl .gimg-srl {margin: 0 10px;}
.gimg-srl-li {position: absolute;left: 0;top: 0;}
.glist1 li {float: none;height: 120px;width: auto;display: block;margin: 0 0 10px;}
.fmgoods-main li {margin: 0 5px 5px 0;float: left;width: 34px;height: 34px;}
li.gdlis .gtitle, .list_box-li .gtitle {display: block;width: 200px;text-align: left;overflow: hidden;margin: 0 auto 10px;}
li.gdlis .gtitle, .list_box-li .gtitle {line-height: 16px;height: 32px;margin: 10px auto;font-size: 13px;}
li.gdlis .gtitle, .list_box-li .gtitle {line-height: 17px;height: 36px;margin: 10px auto;font-size: 14px;}
li.gdlis p, .list_box-li p {margin-bottom: 10px;line-height: 15px;display: block;overflow: hidden;text-align: center;}
.list_box-li p.deal-cnt {text-align: left;}
li.gdlis p em, .list_box-li p em {height: 21px;padding-left: 25px;background: 0 0;display: inline-block;}
.list_box-li p.deal-cnt em {padding-left: 4px;padding-right: 15px;}
li.gdlis p em.lis_icon, .list_box-li p em.lis_icon {background-position: 0 -172px;margin-left: 10px;}

/*all-nav*/
.all-nav {height: 24px;line-height: 24px;color: #444;}
.pet-onav {margin: 10px 0;}
.onav-cont {border: 1px solid #ddd;height: 24px;line-height: 24px;position: relative;display: inline-block;padding: 0 25px 0 8px;background: #fff;}
.onav-cont span {display: inline-block;padding: 0 10px;min-width: 50px;cursor: pointer;}
.onav-cont .gnum {color: #999;padding-left: 5px;}
.onav-cont b {position: absolute;width: 9px;height: 5px;background: url(./../img/index_img/bg2.png) -38px -1258px;right: 15px;top: 10px;}
.onav-cont ul {position: absolute;top: 24px;left: -1px;width: 100%;border: 1px solid #ddd;background: #fff;padding: 5px 0;display: none;z-index: 150;}
.onav-cont li {line-height: 22px;height: 22px;overflow: hidden;text-indent: 18px;border-bottom: 1px dashed #eee;}
.pet-onav label {display: inline-block;background: url(./../img/index_img/bg2.png) -38px -1265px;width: 5px;height: 9px;margin: 0 10px;}